<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" href="/css/table.css"/>
<title>Unnamed card game</title>
</head>
<body>
<div class="deck" id="deck1">
    <div class="cardback card">&nbsp;</div>
</div>
<div class="deck" id="deck2">
    <div class="cardback card">&nbsp;</div>
</div>
<div class="cim" id="cim1">
    <div class="card">&nbsp;</div>
</div>
<div class="cim" id="cim2">
    <div class="card">&nbsp;</div>
</div>
<div class="hand" id="hand1">
{% for c in hand1 %}
    <div class="card">{{c}}</div>
{% endfor %}
</div>
<div class="hand" id="hand2">
{% for c in hand2 %}
    <div class="cardback card">&nbsp;</div>
{% endfor %}
</div>
<div class="table" id="tablecommon">
</div>
<div class="table" id="table1">
</div>
<div class="table" id="table2">
</div>
<div id="cardshow">
    <!--<div class="cardback bigcard">&nbsp;</div>-->
    <div class="bigcard"><img src="/img/card1_b.png"/><span class="cardtitle">Card title</span><div class="carddesc">Une longue longue description.</div></div>
</div>
</body>
</html>