<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<link rel="stylesheet" href="/css/table.css"/>
<script type="text/javascript">
function showCard(ctyp_id)
    {
    var bigdiv = document.getElementById('cardshow');
    var xhr = new window.XMLHttpRequest();

    xhr.onreadystatechange = function()
        {
        if (xhr.readyState == 4)
            {
            if (xhr.status == 200)
                {
                bigdiv.innerHTML = xhr.responseText;
                }
            }
        }
    xhr.open("POST","/tools/getBigCard",true);
    xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    xhr.send("ctyp_id=" + ctyp_id);

    }

function playCard(card_id,adv_id)
    {
    var msgdiv = document.getElementById('messages');
    var carddiv = document.getElementById('card_' + card_id)
    var currentplace = carddiv.parentNode;
    var xhr = new window.XMLHttpRequest();

    xhr.onreadystatechange = function()
        {
        if (xhr.readyState == 4)
            {
            if (xhr.status == 200)
                {
                eval(xhr.responseText);
                }
            }
        }
    xhr.open("POST","/tools/playCard",true);
    xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    xhr.send("card_id=" + card_id + "&adv_id=" + adv_id);
    }

function drawCard(player_id)
    {
    var msgdiv = document.getElementById('messages');
    var xhr = new window.XMLHttpRequest();

    xhr.onreadystatechange = function()
        {
        if (xhr.readyState == 4)
            {
            if (xhr.status == 200)
                {
                eval(xhr.responseText);
                }
            }
        }
    xhr.open("POST","/tools/drawCard",true);
    xhr.setRequestHeader('Content-Type','application/x-www-form-urlencoded');
    xhr.send("player_id=" + player_id);
    }
</script>
<title>Unnamed card game</title>
</head>
<body>
<div id="messages">
coucou
</div>
<div id="debug">
{% for c in debug %}
{{ c.getHTML }}<br/>
{% endfor %}
</div>
<div class="deck" id="deck1">
    <a href="javascript:drawCard('{{j1.key}}');"><div class="cardback card">&nbsp;</div></a>
</div>
<div class="deck" id="deck2">
    <div class="cardback card">&nbsp;</div>
</div>
<div class="cim" id="cim1">
    <div class="card">&nbsp;</div>
</div>
<div class="cim" id="cim2">
    <div class="card">&nbsp;</div>
</div>
<div class="hand" id="hand1">
{% for c in j1.main.card_set %}
<a href="javascript:playCard('{{c.key}}','{{j2.key}}');">
    {{c.getHTML}}
</a>
{% endfor %}
</div>
<div class="hand" id="hand2">
{% for c in hand2 %}
    <div class="cardback card">&nbsp;</div>
{% endfor %}
</div>
<div class="table" id="tablecommon">
</div>
<div class="table" id="table1">
</div>
<div class="table" id="table2">
</div>
<div id="cardshow">
    <!--<div class="cardback bigcard">&nbsp;</div>
    <div class="bigcard"><img src="/img/card1_b.png"/><span class="cardtitle">Card title</span><div class="carddesc">Une longue longue description.</div></div>
    -->
</div>
</body>
</html>
